/* Variables */
:root {
  --primary-color: #2dc997;
  --secondary-color: #343b40;
  --light-gray: #f7f7f7;
  --dark-gray: #484141;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  line-height: 1.7;

  scroll-behavior: smooth;
}

.container {
  max-width: 85%;
  margin: auto;
}

.l-heading {
  font-size: 3.2rem;
  font-weight: 700;
}

.m-heading {
  font-size: 1.6rem;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.btn-light {
  border: solid 2px #fff;
  border-radius: 100rem;
  padding: 0.6rem 1rem;

  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

/* Navigation */
#nav {
  background: #888080;
  height: 3rem;
}

#nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav .container .logo img {
  width: 5rem;
}

#nav .container .menu {
  display: flex;
}

/* Header */
#header {
  background: var(--light-gray) url(../img/hero-bg.png) no-repeat center
    center/cover;
  height: 100vh;
  color: #fff;
}
